.full-view {
    width: 100vw;
    height: 100vh;
}

.main-panel {
    background-color: lightblue;
    height: 100vh;
    width: 80vw;
}

.sub-panel {
    background-color: lightcoral;
    height: 100vh;
    width: 20vw;
}

@media screen and (orientation: portrait) {
    .main-panel {
        height: 80vh;
        width: 100vw;
    }
    .sub-panel {
        height: 20vh;
        width: 100vw;
    }
}