body {
    margin: 0px;
    background: rgba(128, 128, 128, 1.0);
}

#chessboard {
    width: 100vh;
    height: 100vh;
}

#chessboard tr:nth-of-type(odd) td:nth-of-type(odd),
#chessboard tr:nth-of-type(even) td:nth-of-type(even) {
    background: rgba(40, 40, 40, 1.0);
}

#chessboard tr:nth-of-type(odd) td:nth-of-type(even),
#chessboard tr:nth-of-type(even) td:nth-of-type(odd) {
    background: rgba(220, 220, 220, 1.0);
}

@media all and (orientation: portrait) {
    #chessboard {
        width: 100vw;
        height: 100vw;
    }
}