body {
    margin: 0px;
    background: rgba(128, 128, 128, 1.0);
}


/* Responsive cell */

#chessboard tr td {
    width: 12.5vh;
    height: 12.5vh;
    border: 0.1px solid black;
}

#chessboard tr:nth-of-type(odd) td:nth-of-type(odd),
#chessboard tr:nth-of-type(even) td:nth-of-type(even) {
    background: rgba(40, 40, 40, 1.0);
}

#chessboard tr:nth-of-type(odd) td:nth-of-type(even),
#chessboard tr:nth-of-type(even) td:nth-of-type(odd) {
    background: rgba(220, 220, 220, 1.0);
}

@media all and (orientation: portrait) {
    #chessboard tr td {
        width: 12.5vw;
        height: 12.5vw;
    }
}


/* Knight */

.knight {
    background-image: url(images/knight_image.jpg);
    background-size: cover;
}

.visited {
    background-color: lightblue !important;
}