.header {
    background: #000000;
    color: #ffefba;
    text-align: center;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    height: 8vh;
}

i {
    padding: 1vw;
    line-height: 8vh;
}

/* 
.message {
    background: #000000;
    color: wheat;
    font-size: 1.2rem;
    text-align: center;
    height: 5vh;
    display: grid;
    align-items: center;
} */