.chessboard {
    background-color: lightgoldenrodyellow;
    height: 80vh;
    width: 80vh;
}

.cell {
    height: 10vh;
    width: 10vh;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

@media screen and (orientation: portrait) {
    .chessboard {
        background-color: lightgoldenrodyellow;
        height: 80vw;
        width: 80vw;
    }
    .cell {
        height: 10vw;
        width: 10vw;
    }
}