body {
    margin: 0;
}


/* Header */

.full-header {
    width: 100vw;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
}

#game-title {
    width: 80vh;
    height: 8vh;
    line-height: 8vh;
    color: mintcream;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 1.5rem;
}

#game-title span {
    font-size: 2.5rem;
    font-weight: 800;
}

@media screen and (max-width: 600px) {
    #game-title {
        font-size: 1rem;
    }
    #game-title span {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 300px) {
    #game-title {
        font-size: 1rem;
    }
    #game-title span {
        font-size: 1rem;
        font-weight: 600;
    }
}

@media screen and (orientation: portrait) {
    #game-title {
        width: 80vw;
    }
}

i {
    padding: 1vw;
    line-height: 8vh;
}

button {
    border: none;
    background-color: transparent;
    color: white;
}

#message {
    position: absolute;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: wheat;
    width: 100vw;
    /* font-size: 1.5rem; */
    text-align: center;
}


/* Game Panel */

.game-panel {
    background: #232526;
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    background: linear-gradient(to bottom, #414345, #232526);
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
}


/* Chessboard */

.chessboard {
    border-collapse: collapse;
    height: 80vh;
    width: 80vh;
    margin-top: 5vh;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(30, 19, 12, 0.4), 5px 5px 5px 0px rgba(30, 19, 12, 0.7);
    -moz-box-shadow: 10px 10px 5px 0px rgba(30, 19, 12, 0.4), 5px 5px 5px 0px rgba(30, 19, 12, 0.7);
    box-shadow: 10px 10px 5px 0px rgba(30, 19, 12, 0.4), 5px 5px 5px 0px rgba(30, 19, 12, 0.7);
    border: 1.5vh solid #1e130c;
    border-radius: 1%;
}

@media screen and (orientation: portrait) {
    .chessboard {
        background-color: lightgoldenrodyellow;
        height: 80vw;
        width: 80vw;
    }
}

.row {
    font-size: 0;
}

.cell {
    padding: 0;
    height: 10vh;
    width: 10vh;
    display: inline-block;
    text-align: center;
}

@media screen and (orientation: portrait) {
    .cell {
        height: 10vw;
        width: 10vw;
    }
}

.cell div {
    background: url("../images/knight_image.png");
    background-size: cover;
    height: 100%;
    display: none;
}

.white {
    /* background-color: lightcyan; */
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.black {
    background: #603813;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b29f94, #603813);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b29f94, #603813);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.valid {
    box-shadow: inset 0vh 0vh 1vh 0.5vh cyan;
}

@media screen and (orientation: portrait) {
    .valid {
        box-shadow: inset 0vw 0vw 1vw 0.5vw cyan;
    }
}

.visited {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: inset 0vh 0vh 1vh 0.5vh rgba(90, 90, 90, 0.75);
    transition: ease-in 100ms;
}

@media screen and (orientation: portrait) {
    .visited {
        background-color: gainsboro;
        box-shadow: inset 0vw 0vw 1vw 0.5vw rgba(90, 90, 90, 0.75);
    }
}

.visited:hover {
    background: black;
    color: white;
}