/* Header */

#game-title {
    width: 100vw;
    height: 5vh;
    line-height: 5vh;
    background-color: midnightblue;
    color: mintcream;
    text-align: center;
    margin: 0;
}

.full-view {
    width: 100vw;
    height: 95vh;
}

.main-panel {
    background-color: lightblue;
    height: 95vh;
    width: 80vw;
}

.control-panel {
    background-color: lightcoral;
    height: 95vh;
    width: 20vw;
}

@media screen and (orientation: portrait) {
    .main-panel {
        height: 80vh;
        width: 100vw;
    }
    .control-panel {
        height: 15vh;
        width: 100vw;
    }
}


/* 
@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
} */

.chessboard {
    background-color: lightgoldenrodyellow;
    height: 80vh;
    width: 80vh;
}

.cell {
    padding: 0;
    height: 10vh;
    width: 10vh;
    border-radius: 0.2rem;
    font-size: 5vh;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.knight {
    background-image: url(../images/knight_image.png);
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.white {
    background-color: lightcyan;
}

.black {
    background-color: darkcyan;
}

.visited:hover {
    background-color: black;
    color: white;
    transition: ease-in-out 1s;
}

.valid {
    box-shadow: inset 0vh 0vh 1vh 0.5vh cyan;
}

.visited {
    background-color: gainsboro;
    box-shadow: inset 0vh 0vh 1vh 0.5vh rgba(90, 90, 90, 0.75);
}

@media screen and (orientation: portrait) {
    .chessboard {
        background-color: lightgoldenrodyellow;
        height: 80vw;
        width: 80vw;
    }
    .cell {
        height: 10vw;
        width: 10vw;
    }
    .valid {
        box-shadow: inset 0vw 0vw 1vw 0.5vw cyan;
    }
    .visited {
        background-color: gainsboro;
        box-shadow: inset 0vw 0vw 1vw 0.5vw rgba(90, 90, 90, 0.75);
    }
}

.control-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.control-panel .control {
    justify-content: space-around;
    display: flex;
    width: 20vw;
}