.control-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.control-panel .control {
    justify-content: space-around;
    display: flex;
    width: 20vw;
}