.page-title {
    width: 100vw;
    height: 5vh;
    background-color: midnightblue;
    color: mintcream;
}

.full-view {
    width: 100vw;
    height: 95vh;
}

.main-panel {
    background-color: lightblue;
    height: 95vh;
    width: 80vw;
}

.control-panel {
    background-color: lightcoral;
    height: 95vh;
    width: 20vw;
}

@media screen and (orientation: portrait) {
    .main-panel {
        height: 80vh;
        width: 100vw;
    }
    .control-panel {
        height: 15vh;
        width: 100vw;
    }
}


/* 
@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
} */